<main id="main">
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="align-items-center swiper-wrapper">
                            <div class="swiper-slide"><img src="assets/img/foto.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="portfolio-details-2.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="portfolio-details-3.jpg" alt=""></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h5>Información del proyecto</h5>
                        <ul>
                            <li><strong>Categoría</strong>: Nombre</li>
                            <li><strong>Cliente</strong>: Nombre</li>
                            <li><strong>Fecha&nbsp;publicación</strong>: Fecha</li>
                            <li><strong>URL de acceso</strong>: <a href="#">www.nombre.c</a>l&nbsp;</li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Reflexión</h2>
                        <p> Texto</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>